:root {
    --primary-dark: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #00ff04 100%);
    --primary-light: #000000;
    --secondary-light: black;}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
     background-image: linear-gradient(to right, rgb(136, 134, 66), rgb(133, 72, 155)); 

}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    width: 600px;

}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 700px;
    
}
div{
    
    background-color: whitesmoke;
}

h1{
    
            text-transform: uppercase;
            background-image: linear-gradient(-225deg,
                    #231557 0%,
                    #44107a 29%,
                    #ff1361 67%,
                    #00ff04 100%);
            background-size: auto auto;
            background-clip: border-box;
            background-size: 200% auto;
            color: #fff;
            background-clip: text;
            /* text-fill-color: transparent; */
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: textclip 2s linear infinite;
            display: inline-block;
            font-size: 100px;
        }
    
        @keyframes textclip {
            to {
                background-position: 200% center;
            }
        }
input[type='range'] {
  -webkit-appearance: none;
  background-color: var(--primary-light);
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  border: 1px solid var(--primary-dark);
  border-radius: 25px;
  background: var(--secondary-light);
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: var(--primary-dark);
}
        


.myslider {
    -webkit-appearance: none;
    background: #FCF3CF;
    width: 50%;
    height: 20px;
    opacity: 2;
     }

.myslider:hover {
    opacity: 1;
}


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin:20px
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width:500px;
    margin-bottom: 20px;


}
.footer{display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:500px;
    align-items: center;
    margin-top: 20px;
}
.board{
    width:500px;
    height:500px;
    display: grid;
    border:70px solid rgb(224, 15, 15);
    
}
